{
  "name": "${PRODUCT_NAME} local container",
  "image": "mcr.microsoft.com/devcontainers/base:dev-debian",
  "features": {
    "ghcr.io/devcontainers/features/go:1": {
      "version": "${GO_VERSION}"
    }
  },
  "workspaceFolder": "/workspace",
  "workspaceMount": "source=${localWorkspaceFolder},target=${containerWorkspaceFolder},type=bind",
  "runArgs": [
    "--name", "${PRODUCT_NAME}-local",
    "--rm"
  ],
  "postStartCommand": "/bin/sh .devcontainer/postStartCommand.sh",
  "customizations": {
    "vscode": {
      "extensions": [
        "golang.Go"
      ],
      "settings": {
        "files.autoSave": "afterDelay",
        "files.watchInclude": {
          "**/.git/**": true,
          "**/.vscode/**": true
        },
        "go.gopath": "${containerWorkspaceFolder}",
        "go.useLanguageServer": true,
        "editor.formatOnSave": true,
        "[go]": {
          "editor.formatOnSave": true,
          "editor.codeActionsOnSave": ["source.organizeImports"]
        }
      }
    }
  }
}
